<!DOCTYPE html>
<html>
  <head>
    <title>Overtimeapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/application_navbar' %>
    <main role="main" class="container">
      <%= yield %>
    </main>
    <%= js add_gritter(flash[:notice], title: "Overtime App Notification", sticky: false) %>
  </body>
</html>